.menu {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    .menu-item {
        border-radius: 50px;
        margin: 10px;
        text-align: center;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1;
        max-width: 100%;
        padding: 10px;
        height: 100%;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card-top{
            display: flex;
            flex-direction: column;
        }

        img {
            height: 295px;
            width: 100%;
            margin-top: 0;
            overflow: hidden;
            margin-bottom: 0;
            border-radius: 50px;
            object-fit: cover;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        

        h3 {
            font-size: 1.5rem;
            margin: 10px 0;
        }

        .menuBtn {
            padding: 1rem;
            border-radius: 50px;
            font-size: 1rem;
            background-color: goldenrod;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                    background-color: #daa520;
                    transform: scale(1.05);
            }
        }
    }
}