.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .menu-item {
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 10px;
        text-align: center;
        width: 250px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        .card-top{
            display: flex;
            flex-direction: column;
        }

        img {
            max-width: 100%;
            border-radius: 8px;
        }

        h3 {
            font-size: 1.2em;
            margin: 10px 0;
        }

        .menuBtn {
            padding: 0.5rem 0.5rem;
            border-radius: 50px;
            font-size: 1rem;
            background-color: goldenrod;
            color: white;
            border: none;
        }
    }
}