$font-stack: Helvetica, sans-serif;
$primary-color: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: rgb(247, 245, 235);
    --effect-scale: 1.1;
    height: 100vh;
    min-height: 100%;
    font-family: "Raleway", sans-serif;

}



#hero-container{
    min-height: 775px;
    width: 80%;
    margin: 0 auto;
    background-image: url(../assets/images/vegetables-set-left-black-slate.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)

    

}

#menu-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}


#content-container{

    min-height: 775px;
    width: 80%;
    margin: 0 auto;
    background-image: url(../assets/images/top-view-food.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    position: relative;

}

#blog-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;

}

#content-2-container {

    min-height: 775px;
    width: 80%;
    margin: 0 auto;
    background-image: url(../assets/images/steak4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    position: relative;

}

#subscribe-container {
    width: 100%;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


#advertising-container{

    min-height: 775px;
    width: 80%;
    margin: 0 auto;
    background-image: url(../assets/images/food_images5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    position: relative;

}

#cta-container{

    width: 80%;
    margin: 60px auto;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 30px;

}


@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../components/header/header.scss';
@import '../components/hero/hero.scss';
@import '../components/menu/menu.scss';
@import '../components/contact/contact.scss';
@import '../components/content/content.scss';
@import '../components/blog/blog.scss';
@import '../components/secondContent/ndContent.scss';
@import '../components/subscribe/subscribe.scss';
@import '../components/advertising/advertising.scss';
@import '../components/cta/cta.scss';
@import '../components/footer/footer.scss';
@import '../components/Pages/menu/menu.scss';