.header {
  color: black;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  margin-top: 2rem;

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
  }


  nav button {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s; 
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    font-size: 1.2rem; 
    font-weight: bold;
    background-color: inherit;
    border: 2px solid goldenrod;

  }

  nav button:hover {
    color: white; 
    background-color: goldenrod; 
  }

 
}