#about-container {
    width: 80%;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1;
   
    background-color: white;
    color: black;
    justify-content: center;
    position: relative;
    padding: 30px;
    border-radius: 50px;

    .about {
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;

        .col {
            width: 45%;
           
            display: flex;
            flex-direction: column;
            align-items: flex-start;
         
            justify-content: flex-start;
            gap: 1rem;

            &.advertising {
                width: 100%;
                text-align: left;
               
                padding-bottom: 20px;

                p {
                    font-size: 1.5rem;
                    
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }

            .text-container {
                h1 {
                    font-size: 4rem;
                    text-transform: uppercase;
                    
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
            }

            p {
                font-size: 1.5rem;
                
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .btn-wrapper {
                button {
                    background-color: #ffcc00;
                   
                    color: white;
                    padding: 1rem 0.5rem;
                    border: none;
                    border-radius: 50px;

                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #e6b800;
                    }
                }
            }

            .image-wrapper {
                width: 100%;
                overflow: hidden;

                

                img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 50px;
                    height: auto;
                    background-size: cover;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

#middle-container {
    width: 100%;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
   

    .middle {
        border-radius: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: white;
        border-radius: 20px;
        padding: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

        .middle-top {
            text-align: center;
            padding: 30px 140px;;
            margin: 0 46px;

            .middle-title {
                font-size: 2.5rem;
                margin-bottom: 1rem;
                font-weight: bold;
                color: #333;
                padding: 0;
                font-size: 3rem;

        
            }

            .middle-description {
                padding-top: 2rem;
                font-size: 2rem;
                color: #555;
                margin-bottom: 1.5rem;
                word-wrap: break-word;
    
            }
        }

        .middle-footer {
            display: flex;
            justify-content: center;
            width: 100%;

            .middle-btn {
                padding: 1rem 1.5rem;
            
                border-radius: 20px;
                font-size: 1rem;
                background-color: greenyellow;
                color: black;
                border: none;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}